## <font color='blue'>Aula 12 - Algoritmos e Estrutura de Dados 1 </font>
## <font color='blue'>Estruturas de Dados (Listas / Tuplas / Dicionários)</font>

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.11.8

## <font color='blue'>LISTAS...</font>
---
### Trabalhando com Listas

In [2]:
# Criando uma lista
lista_1 = ["arroz, frango, tomate, leite"]

In [3]:
type(lista_1)

list

In [4]:
# Imprimindo a lista
print(lista_1)

['arroz, frango, tomate, leite']

In [5]:
# Criando outra lista
lista_2 = ["arroz", "frango", "tomate", "leite"]

In [6]:
type(lista_2)

list

In [7]:
# Imprimindo a lista
print(lista_2)

['arroz', 'frango', 'tomate', 'leite']

In [8]:
# Criando lista
lista_3 = [23, 100, "Cientista de Dados"]

In [9]:
type(lista_3)

list

In [10]:
# Imprimindo
print(lista_3)

[23, 100, 'Cientista de Dados']

In [11]:
# Atribuindo cada valor da lista a uma variável.
item1 = lista_3[0]
item2 = lista_3[1]
item3 = lista_3[2]

In [12]:
# Imprimindo as variáveis
print(item1, item2, item3)

23 100 Cientista de Dados

In [13]:
alunos = ["Ana", "Pedro", "Maria"]
notas = [9, 3.5, 6]

In [14]:
for i in range(len(alunos)):
    print(f"O(a) estudante {alunos[i]} teve nota {notas[i]}!")

O(a) estudante Ana teve nota 9!
O(a) estudante Pedro teve nota 3.5!
O(a) estudante Maria teve nota 6!

#### Atualizando Um Item da Lista

In [15]:
lista_2

['arroz', 'frango', 'tomate', 'leite']

In [16]:
# Imprimindo um item da lista
lista_2[2]

'tomate'

In [17]:
# Atualizando um item da lista
lista_2[2] = "chocolate"

In [18]:
# Imprimindo lista alterada
lista_2

['arroz', 'frango', 'chocolate', 'leite']

#### Deletando Um Item da Lista

In [19]:
lista_2

['arroz', 'frango', 'chocolate', 'leite']

In [20]:
# Não é possível deletar um item que não existe na lista. Vai gerar erro index out of range
del lista_2[4]

IndexError: list assignment index out of range

In [21]:
# Deletando um item específico da lista
del lista_2[3]

In [22]:
# Imprimindo o item com a lista alterada
lista_2

['arroz', 'frango', 'chocolate']

#### Listas de Listas (Listas Aninhadas)

Listas de listas são matrizes em Python.

In [23]:
# Criando uma lista de listas
listas = [ [1,2,3], [10,15,14], [10.1,8.7,2.3] ]

In [24]:
# Imprimindo a lista
print(listas)

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [25]:
# Atribuindo um item da lista a uma variável
a = listas[0]

In [26]:
a

[1, 2, 3]

In [27]:
listas[0][1]

2

In [28]:
b = a[0]

In [29]:
b

1

In [30]:
list1 = listas[1]

In [31]:
list1

[10, 15, 14]

In [32]:
valor_1_0 = list1[0]

In [33]:
valor_1_0

10

In [34]:
valor_1_2 = list1[2]

In [35]:
valor_1_2

14

In [36]:
list2 = listas[2]

In [37]:
list2

[10.1, 8.7, 2.3]

In [38]:
valor_2_0 = list2[0]

In [39]:
valor_2_0

10.1

#### Operações com Listas

In [40]:
# Criando uma lista aninhada (lista de listas - Matrizes)
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]

In [41]:
listas

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [42]:
# Atribuindo à variável a o primeiro valor da primeira lista
a = listas[0][0]

In [43]:
a

1

In [44]:
b = listas[1][2]

In [45]:
b

14

In [46]:
c = listas[0][2] + 10

In [47]:
c

13

In [48]:
d = 10

In [49]:
d

10

In [50]:
e = d * listas[2][0]

In [51]:
e

101.0

#### Concatenando Listas

In [52]:
lista_s1 = [34, 32, 56]

In [53]:
lista_s1

[34, 32, 56]

In [54]:
lista_s2 = [21, 90, 51]

In [55]:
lista_s2

[21, 90, 51]

In [56]:
# Concatenando listas
lista_total = lista_s1 + lista_s2

In [57]:
lista_total

[34, 32, 56, 21, 90, 51]

### Operador in

In [58]:
# Criando uma lista
lista_teste_op = [100, 2, -5, 3.4]

In [59]:
# Verificando se o valor 10 pertence a lista
print(10 in lista_teste_op)

False

In [60]:
# Verificando se o valor 100 pertence a lista
print(100 in lista_teste_op)

True

### Funções Built-in

In [61]:
lista_s1.

SyntaxError: invalid syntax (2777343514.py, line 1)

![Listas](listas.jpg)

In [62]:
# Criando uma lista
lista_numeros = [10, 20, 50, -3.4]

In [63]:
# Função len() retorna o comprimento da lista
len(lista_numeros)

4

In [64]:
# Função max() retorna o valor máximo da lista
max(lista_numeros)

50

In [65]:
# Função min() retorna o valor mínimo da lista
min(lista_numeros)

-3.4

In [66]:
# Criando uma lista
lista_formacoes_dsa = ["Analista de Dados", "Cientista de Dados", "Engenheiro de Dados"]

In [67]:
lista_formacoes_dsa

['Analista de Dados', 'Cientista de Dados', 'Engenheiro de Dados']

In [68]:
# Adicionando um item à lista
lista_formacoes_dsa.append("Engenheiro de IA")

In [69]:
lista_formacoes_dsa

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Engenheiro de IA']

In [70]:
lista_formacoes_dsa.append("Engenheiro de IA")

In [71]:
lista_formacoes_dsa

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Engenheiro de IA',
 'Engenheiro de IA']

In [72]:
lista_formacoes_dsa.count("Engenheiro de IA")

2

In [73]:
# Criando uma lista vazia
a = []

In [74]:
print(a)

[]

In [75]:
type(a)

list

In [76]:
a.append(10)

In [77]:
a

[10]

In [78]:
a.append(50)

In [79]:
a

[10, 50]

In [80]:
old_list = [1,2,5,10]

In [81]:
new_list = []

In [82]:
# Copiando os itens de uma lista para outra
for item in old_list:
    new_list.append(item)

In [83]:
new_list

[1, 2, 5, 10]

In [84]:
lista = []

while True:
    n = int(input("Digite um valor (-1 para sair):"))
    if n == -1:
        break
    lista.append(n)

print(lista)

Digite um valor (-1 para sair):-1
[]

In [85]:
cidades = ['Recife', 'Manaus', 'Salvador']
cidades.extend(['Fortaleza', 'Palmas'])
print (cidades)

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [86]:
cidades.index('Salvador')

2

Lembre-se: em Python o índice começa por 0!

In [88]:
cidades.index('Rio de Janeiro')

ValueError: 'Rio de Janeiro' is not in list

In [89]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [90]:
cidades.insert(2, 110)

In [91]:
cidades

['Recife', 'Manaus', 110, 'Salvador', 'Fortaleza', 'Palmas']

In [92]:
# Remove um item da lista
cidades.remove(110)

In [93]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [94]:
# Reverte a lista
cidades.reverse()

In [95]:
# Imprime a lista
cidades

['Palmas', 'Fortaleza', 'Salvador', 'Manaus', 'Recife']

In [96]:
x = [3, 4, 2, 1]

In [97]:
x

[3, 4, 2, 1]

In [98]:
# Ordena a lista
x.sort()

In [99]:
x

[1, 2, 3, 4]

In [100]:
# Ordena a lista ao contrário
x.sort(reverse = True)

In [101]:
x

[4, 3, 2, 1]

## <font color='blue'>TUPLAS...</font>
---
### Trabalhando com Tuplas

In [102]:
# Criando uma tupla
tupla1 = ("Geografia", 23, "Elefantes", 9.8, 'Python')

In [103]:
# Imprimindo a tupla
tupla1

('Geografia', 23, 'Elefantes', 9.8, 'Python')

In [104]:
# Tuplas não suportam append()
tupla1.append("Chocolate")

AttributeError: 'tuple' object has no attribute 'append'

In [105]:
# Tuplas não suportam delete de um item específico
del tupla1["Elefantes"]

TypeError: 'tuple' object does not support item deletion

In [106]:
# Tuplas podem ter um único item
tupla1 = ("Chocolate")

In [107]:
tupla1

'Chocolate'

In [108]:
tupla1 = ("Geografia", 23, "Elefantes", 9.8, 'Python')

In [109]:
tupla1[0]

'Geografia'

In [110]:
# Verificando o comprimento da tupla
len(tupla1)

5

In [111]:
# Slicing, da mesma forma que se faz com listas
tupla1[1:]

(23, 'Elefantes', 9.8, 'Python')

In [112]:
tupla1.index('Elefantes')

2

In [113]:
# Tuplas não suportam atribuição de item
tupla1[1] = 21

TypeError: 'tuple' object does not support item assignment

In [114]:
# Deletando a tupla
del tupla1

In [115]:
tupla1

NameError: name 'tupla1' is not defined

In [116]:
# Criando uma tupla
t2 = ('A', 'B', 'C')

In [117]:
t2

('A', 'B', 'C')

In [118]:
# Tuplas não suportam atribuição de item
t2[0] = 'D'

TypeError: 'tuple' object does not support item assignment

In [119]:
# Usando a função list() para converter uma tupla para lista
lista_t2 = list(t2)

In [120]:
type(t2)

tuple

In [121]:
type(lista_t2)

list

In [122]:
lista_t2

['A', 'B', 'C']

In [123]:
lista_t2.append('D')

In [124]:
# Usando a função tuple() para converter uma lista para tupla
t2 = tuple(lista_t2)

In [125]:
t2

('A', 'B', 'C', 'D')

### Funções Built-in

![Tuplas](tuplas.jpg)

## <font color='blue'>DICIONÁRIOS...</font>
---
### Trabalhando com Dicionários

![Dicionários](dicionarios.jpg)

In [126]:
# Isso é uma lista
estudantes_lst = ["Pedro", 24, "Ana", 22, "Ronaldo", 26, "Janaina", 25]

In [127]:
estudantes_lst

['Pedro', 24, 'Ana', 22, 'Ronaldo', 26, 'Janaina', 25]

In [128]:
type(estudantes_lst)

list

In [129]:
# Isso é um dicionário
estudantes_dict = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

In [130]:
estudantes_dict

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25}

In [131]:
type(estudantes_dict)

dict

In [132]:
estudantes_dict["Pedro"]

24

In [133]:
estudantes_dict["Marcelo"] = 23

In [134]:
estudantes_dict["Marcelo"]

23

In [135]:
estudantes_dict

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25, 'Marcelo': 23}

In [136]:
estudantes_dict.clear()

In [137]:
estudantes_dict

{}

In [138]:
del estudantes_dict

In [139]:
estudantes_dict

NameError: name 'estudantes_dict' is not defined

In [140]:
estudantes = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

In [141]:
estudantes

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25}

In [142]:
len(estudantes)

4

In [143]:
estudantes.keys()

dict_keys(['Pedro', 'Ana', 'Ronaldo', 'Janaina'])

In [144]:
estudantes.values()

dict_values([24, 22, 26, 25])

In [145]:
estudantes.items()

dict_items([('Pedro', 24), ('Ana', 22), ('Ronaldo', 26), ('Janaina', 25)])

In [146]:
estudantes2 = {"Camila":27, "Adriana":28, "Roberta":26}

In [147]:
estudantes2

{'Camila': 27, 'Adriana': 28, 'Roberta': 26}

In [148]:
estudantes.update(estudantes2)

In [149]:
estudantes

{'Pedro': 24,
 'Ana': 22,
 'Ronaldo': 26,
 'Janaina': 25,
 'Camila': 27,
 'Adriana': 28,
 'Roberta': 26}

In [150]:
dic1 = {}

In [151]:
dic1

{}

In [152]:
dic1["chave_um"] = 2

In [153]:
print(dic1)

{'chave_um': 2}

In [154]:
dic1[10] = 5

In [155]:
dic1

{'chave_um': 2, 10: 5}

In [156]:
dic1[9.13] = "Python"

In [157]:
dic1

{'chave_um': 2, 10: 5, 9.13: 'Python'}

In [158]:
dic1["teste"] = 5

In [159]:
dic1

{'chave_um': 2, 10: 5, 9.13: 'Python', 'teste': 5}

In [160]:
dict1 = {}

In [161]:
dict1

{}

In [162]:
dict1["teste"] = 10

In [163]:
dict1["key"] = "teste"

In [164]:
# Atenção, pois chave e valor podem ser iguais, mas representam coisas diferentes.
dict1

{'teste': 10, 'key': 'teste'}

In [165]:
dict2 = {}

In [166]:
dict2["key1"] = "Data Science"

In [167]:
dict2["key2"] = 10

In [168]:
dict2["key3"] = 100

In [169]:
dict2

{'key1': 'Data Science', 'key2': 10, 'key3': 100}

In [170]:
a = dict2["key1"]

In [171]:
b = dict2["key2"]

In [172]:
c = dict2["key3"]

In [173]:
a, b, c

('Data Science', 10, 100)

In [174]:
# Dicionário de listas
dict3 = {'chave1':1230, 'chave2':[22,453,73.4], 'chave3':['picanha', 'fraldinha', 'alcatra']}

In [175]:
dict3

{'chave1': 1230,
 'chave2': [22, 453, 73.4],
 'chave3': ['picanha', 'fraldinha', 'alcatra']}

In [176]:
dict3['chave2']

[22, 453, 73.4]

In [177]:
# Acessando um item da lista, dentro do dicionário
dict3['chave3'][0].upper()

'PICANHA'

In [178]:
# Operações com itens da lista, dentro do dicionário
var1 = dict3['chave2'][0] - 2

In [179]:
var1

20

In [180]:
# Duas operações no mesmo comando, para atualizar um item dentro da lista
dict3['chave2'][0] -= 2

In [181]:
dict3

{'chave1': 1230,
 'chave2': [20, 453, 73.4],
 'chave3': ['picanha', 'fraldinha', 'alcatra']}

#### Criando Dicionários Aninhados

In [182]:
# Criando dicionários aninhados
dict_aninhado = {'key1':{'key2_aninhada':{'key3_aninhada':'Dict aninhado em Python'}}}

In [183]:
dict_aninhado

{'key1': {'key2_aninhada': {'key3_aninhada': 'Dict aninhado em Python'}}}

In [184]:
dict_aninhado['key1']

{'key2_aninhada': {'key3_aninhada': 'Dict aninhado em Python'}}

### Funções Built-in

![Dicionários](dict.jpg)

## <font color='blue'>EXERCÍCIOS...</font>
---
### Exercícios sobre Listas

1. Faça um algoritmo que carregue um vetor de 10 elementos numéricos inteiros. Após a finalização da entrada, o algoritmo deve escrever o mesmo vetor, na ordem inversa de entrada.

In [189]:
lista = []

for _ in range(10):
    entrada = int(input("Digite um número: "))
    lista.append(entrada)

print("Lista na ordem inversa de forma manual:", lista[::-1])

#fazendo com reverse, pois foi dado em aula
lista.reverse()
print("Lista na ordem inversa com reverse:", lista)

Digite um número: 1
Digite um número: 2
Digite um número: 3
Digite um número: 4
Digite um número: 5
Digite um número: 6
Digite um número: 7
Digite um número: 8
Digite um número: 9
Digite um número: 10
Lista na ordem inversa de forma manual: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
Lista na ordem inversa com reverse: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

2. Faça um algorimto que carregue um vetor de 5 elementos numéricos inteiros. Após a finalização da entrada, o algoritmo deve escrever o maior valor e sua posição.

In [190]:
lista = []

for _ in range(5):
    entrada = int(input("Digite um número: "))
    lista.append(entrada)

maior_valor_bruto = lista[0]
posicao_bruta = 0

for i in range(1, len(lista)):
    if lista[i] > maior_valor_bruto:
        maior_valor_bruto = lista[i]
        posicao_bruta = i

print("Maior valor encontrado de forma manual:", maior_valor_bruto)
print("Posição do maior valor de forma manual:", posicao_bruta)

maior_valor = max(lista)
posicao = lista.index(maior_valor)

print("Maior valor encontrado usando max():", maior_valor)
print("Posição do maior valor usando index() de max():", posicao)

Digite um número: 3
Digite um número: 18
Digite um número: 45
Digite um número: 39
Digite um número: 78
Maior valor encontrado de forma manual: 78
Posição do maior valor de forma manual: 4
Maior valor encontrado usando max(): 78
Posição do maior valor usando index() de max(): 4

3. Faça algoritmo que carregue dois vetores (listas) de cinco elementos numéricos cada um e mostre um vetor resultante na intercalação desses dois vetores

In [192]:
lista1 = []
lista2 = []

for _ in range(5):
    numero = int(input("Digite um número para incluir na lista 1: "))
    lista1.append(numero)

for _ in range(5):
    numero = int(input("Digite um número para incluir na lista 2: "))
    lista2.append(numero)

lista_final = []

for i in range(5):
    lista_final.append(lista1[i])
    lista_final.append(lista2[i])

print("Lista intercalada:", lista_final)

Digite um número para incluir na lista 1: 1
Digite um número para incluir na lista 1: 2
Digite um número para incluir na lista 1: 3
Digite um número para incluir na lista 1: 4
Digite um número para incluir na lista 1: 5
Digite um número para incluir na lista 2: 6
Digite um número para incluir na lista 2: 7
Digite um número para incluir na lista 2: 8
Digite um número para incluir na lista 2: 9
Digite um número para incluir na lista 2: 10
Lista intercalada: [1, 6, 2, 7, 3, 8, 4, 9, 5, 10]

In [193]:
# Exemplo de geração de números aleatórios (randômicos) entre 1 e 60
from random import randint
a = randint(1, 60)
print(a)

13

In [194]:
# Exemplo de geração de 10 jogadas de dados
from random import randint
# Gerando 10 jogadas
for i in range (0,10):
    lado = randint(1, 6)
    print(lado, end=" ")

4 5 2 3 6 3 2 5 4 4

4. Faça um Algoritmo que simule 6000 jogadas de um dado de 6 faces. Para simular o resultado utilize a função randint  Ao final, mostre a frequência de sorteio de cada uma das faces

In [197]:
frequencias_teóricas = [1000] * 6

for face in range(6):
    print(f"Face teórica {face + 1}: {frequencias_teóricas[face]} vezes")

from random import randint

frequencias = [0] * 6

for _ in range(6000):
    lado = randint(1, 6)
    frequencias[lado - 1] += 1

for face in range(6):
    print(f"Face {face + 1}: {frequencias[face]} vezes")

Face teórica 1: 1000 vezes
Face teórica 2: 1000 vezes
Face teórica 3: 1000 vezes
Face teórica 4: 1000 vezes
Face teórica 5: 1000 vezes
Face teórica 6: 1000 vezes
Face 1: 1016 vezes
Face 2: 1008 vezes
Face 3: 981 vezes
Face 4: 1006 vezes
Face 5: 980 vezes
Face 6: 1009 vezes

5. Faça um algoritmo que simule a jogada de dois dados de 6 faces. O programa deve usar randint para rolar o primeiro dado e deve usar randint novamente para rolar o segundo dado. A soma das duas faces deve ser calculada. Assim: a soma variará de 2 a 12. O programa deve rolar 30.000 vezes e mostrar a frequência com que a soma (de 2 a 12) aparecem.  Verifique se o valor 7 corresponde a 1/6 das jogadas!

In [198]:
from random import randint

frequencias = [0] * 11

for _ in range(30000):
    dado1 = randint(1, 6)
    dado2 = randint(1, 6)
    soma = dado1 + dado2
    frequencias[soma - 2] += 1

for soma in range(2, 13):
    print(f"Soma {soma}: {frequencias[soma - 2]} vezes")

total_jogadas = 30000
frequencia_7 = frequencias[7 - 2]
proporcao_7 = frequencia_7 / total_jogadas

print(f"\nA soma 7 apareceu {frequencia_7} vezes.")
print(f"Isto corresponde a aproximadamente {proporcao_7:.2%} das jogadas.")
print(f"1/6 das jogadas seria aproximadamente {1/6:.2%}.")

Soma 2: 834 vezes
Soma 3: 1678 vezes
Soma 4: 2555 vezes
Soma 5: 3262 vezes
Soma 6: 4051 vezes
Soma 7: 4995 vezes
Soma 8: 4151 vezes
Soma 9: 3336 vezes
Soma 10: 2523 vezes
Soma 11: 1679 vezes
Soma 12: 936 vezes

A soma 7 apareceu 4995 vezes.
Isto corresponde a aproximadamente 16.65% das jogadas.
1/6 das jogadas seria aproximadamente 16.67%.

6. Faça um algoritmo que leia uma matriz 2x2 e imprima os seus elementos na ordem:

1,1 =

1,2 =

2,1 =

2,2 =

Obs: linha, coluna

In [199]:
matriz = [[0, 0], [0, 0]]

for i in range(2):
    for j in range(2):
        matriz[i][j] = int(input(f"Digite o elemento ({i+1},{j+1}): "))

print(f"1,1 = {matriz[0][0]}")
print(f"1,2 = {matriz[0][1]}")
print(f"2,1 = {matriz[1][0]}")
print(f"2,2 = {matriz[1][1]}")

Digite o elemento (1,1): 3
Digite o elemento (1,2): 7
Digite o elemento (2,1): 14
Digite o elemento (2,2): 22
1,1 = 3
1,2 = 7
2,1 = 14
2,2 = 22

7. Faça um algoritmo que leia os dados de uma matriz de 4 linhas e 4 colunas, composta de elementos reais, e calcule a soma dos elementos da diagonal principal da matriz.

In [200]:
matriz = []

for i in range(4):
    linha = []
    for j in range(4):
        elemento = float(input(f"Digite o elemento da posição ({i+1},{j+1}): "))
        linha.append(elemento)
    matriz.append(linha)

soma_diagonal = 0

for i in range(4):
    soma_diagonal += matriz[i][i]

print(f"A soma dos elementos da diagonal principal é: {soma_diagonal}")

Digite o elemento da posição (1,1): 5
Digite o elemento da posição (1,2): 13
Digite o elemento da posição (1,3): 19
Digite o elemento da posição (1,4): 22
Digite o elemento da posição (2,1): 34
Digite o elemento da posição (2,2): 45
Digite o elemento da posição (2,3): 56
Digite o elemento da posição (2,4): 78
Digite o elemento da posição (3,1): 90
Digite o elemento da posição (3,2): 13
Digite o elemento da posição (3,3): 76
Digite o elemento da posição (3,4): 90
Digite o elemento da posição (4,1): 43
Digite o elemento da posição (4,2): 44
Digite o elemento da posição (4,3): 45
Digite o elemento da posição (4,4): 56
A soma dos elementos da diagonal principal é: 182.0

8. Faça um algoritmo que receba uma matriz de 5x5 com números reais. Ao final o algoritmo deve calcular e mostrar a média dos elementos que estão nas linhas pares da matriz.

In [201]:
matriz = []

for i in range(5):
    linha = []
    for j in range(5):
        elemento = float(input(f"Digite o elemento da posição ({i+1},{j+1}): "))
        linha.append(elemento)
    matriz.append(linha)

soma = 0
contador = 0

for i in range(0, 5, 2):
    for j in range(5):
        soma += matriz[i][j]
        contador += 1

media = soma / contador if contador else 0

print(f"A média dos elementos que estão nas linhas pares da matriz é: {media:.2f}")

Digite o elemento da posição (1,1): 34
Digite o elemento da posição (1,2): 43
Digite o elemento da posição (1,3): 43
Digite o elemento da posição (1,4): 45
Digite o elemento da posição (1,5): 65
Digite o elemento da posição (2,1): 65
Digite o elemento da posição (2,2): 65
Digite o elemento da posição (2,3): 7
Digite o elemento da posição (2,4): 87
Digite o elemento da posição (2,5): 86
Digite o elemento da posição (3,1): 46
Digite o elemento da posição (3,2): 54
Digite o elemento da posição (3,3): 3
Digite o elemento da posição (3,4): 6
Digite o elemento da posição (3,5): 4
Digite o elemento da posição (4,1): 5
Digite o elemento da posição (4,2): 6
Digite o elemento da posição (4,3): 7
Digite o elemento da posição (4,4): 8
Digite o elemento da posição (4,5): 9
Digite o elemento da posição (5,1): 4
Digite o elemento da posição (5,2): 2
Digite o elemento da posição (5,3): 2
Digite o elemento da posição (5,4): 4
Digite o elemento da posição (5,5): 5
A média dos elementos que estão nas linhas pares da matriz é: 24.00

### Exercícios sobre Tuplas

9. Faça um algoritmo que armazenará os 10 primeiros números primos acima de 100 em uma trupla. Ao final, o algoritmo deve mostrar os valores dessa estrutura de dados.

In [202]:
def eh_primo(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

numeros_primos = []

numero_atual = 101

while len(numeros_primos) < 10:
    if eh_primo(numero_atual):
        numeros_primos.append(numero_atual)
    numero_atual += 1

tupla_numeros_primos = tuple(numeros_primos)

In [203]:
print("Os 10 primeiros números primos acima de 100 são:")
print(tupla_numeros_primos)

Os 10 primeiros números primos acima de 100 são:
(101, 103, 107, 109, 113, 127, 131, 137, 139, 149)

### Exercícios sobre Dicionários

10. Faça um algoritmo que carregue um dicionário de 10 elementos onde a chave é o sobrenome da pessoa e o valor a sua idade.
Após a finalização da entrada, o algoritmo deve escrever o sobrenome da pessoa com maior idade.

In [209]:
dicionario_idades = {}

for i in range(1, 11):
    sobrenome = input(f"Digite o sobrenome da pessoa {i}: ")
    idade = int(input(f"Digite a idade da pessoa {i}: "))
    dicionario_idades[sobrenome] = idade

maior_idade = -1
sobrenome_maior_idade = ""
pessoa_numero_maior_idade = 0

contador = 1
for sobrenome, idade in dicionario_idades.items():
    if idade > maior_idade:
        maior_idade = idade
        sobrenome_maior_idade = sobrenome
        pessoa_numero_maior_idade = contador
    contador += 1

print(f"A pessoa {pessoa_numero_maior_idade}, de sobrenome {sobrenome_maior_idade}, é a mais velha com {maior_idade} anos.")

Digite o sobrenome da pessoa 1: Pereira
Digite a idade da pessoa 1: 23
Digite o sobrenome da pessoa 2: Silva 19
Digite a idade da pessoa 2: 19
Digite o sobrenome da pessoa 3: Oliveira
Digite a idade da pessoa 3: 43
Digite o sobrenome da pessoa 4: Lopes
Digite a idade da pessoa 4: 89
Digite o sobrenome da pessoa 5: Koba
Digite a idade da pessoa 5: 76
Digite o sobrenome da pessoa 6: Amadeu
Digite a idade da pessoa 6: 90
Digite o sobrenome da pessoa 7: kafka
Digite a idade da pessoa 7: 67
Digite o sobrenome da pessoa 8: Specter
Digite a idade da pessoa 8: 8
Digite o sobrenome da pessoa 9: Diaz
Digite a idade da pessoa 9: 10
Digite o sobrenome da pessoa 10: Potter
Digite a idade da pessoa 10: 15
A pessoa 6, de sobrenome Amadeu, é a mais velha com 90 anos.

11. Faça um algoritmo que carregue um dicionário contendo nome e idade (pelo menos 5 pares). Depois de carregar, mostre todos os nomes que tenham idade maior que a média das idades.

In [210]:
dicionario_pessoas = {}

for i in range(5):
    nome = input(f"Digite o nome da pessoa {i+1}: ")
    idade = int(input(f"Digite a idade da pessoa {i+1}: "))
    dicionario_pessoas[nome] = idade

media_idades = sum(dicionario_pessoas.values()) / len(dicionario_pessoas)

print("Nomes das pessoas com idade acima da média:")
for nome, idade in dicionario_pessoas.items():
    if idade > media_idades:
        print(f"{nome} - {idade} anos")

Digite o nome da pessoa 1: Felipe
Digite a idade da pessoa 1: 09
Digite o nome da pessoa 2: Mateus
Digite a idade da pessoa 2: 90
Digite o nome da pessoa 3: Bruno
Digite a idade da pessoa 3: 87
Digite o nome da pessoa 4: André
Digite a idade da pessoa 4: 45
Digite o nome da pessoa 5: Carlos
Digite a idade da pessoa 5: 89
Nomes das pessoas com idade acima da média:
Mateus - 90 anos
Bruno - 87 anos
Carlos - 89 anos

12. Faça algoritmo que carregue duas listas de cinco elementos numéricos inteiros cada um. A partir dessas duas listas, crie um conjunto da união entre essas duas listas.

In [208]:
lista1 = []
lista2 = []

for i in range(5):
    numero = int(input(f"Digite o {i+1}º número para a lista 1: "))
    lista1.append(numero)

for i in range(5):
    numero = int(input(f"Digite o {i+1}º número para a lista 2: "))
    lista2.append(numero)

uniao_listas = []

for numero in lista1:
    if numero not in uniao_listas:
        uniao_listas.append(numero)

for numero in lista2:
    if numero not in uniao_listas:
        uniao_listas.append(numero)

print("Lista resultante da união das duas listas sem duplicatas:", uniao_listas)

Digite o 1º número para a lista 1: 1
Digite o 2º número para a lista 1: 2
Digite o 3º número para a lista 1: 2
Digite o 4º número para a lista 1: 2
Digite o 5º número para a lista 1: 3
Digite o 1º número para a lista 2: 4
Digite o 2º número para a lista 2: 4
Digite o 3º número para a lista 2: 4
Digite o 4º número para a lista 2: 4
Digite o 5º número para a lista 2: 5
Lista resultante da união das duas listas sem duplicatas: [1, 2, 3, 4, 5]

###### FIM